.App {
  text-align: center;
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 11px;
  padding: 30px;
}
