.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 11px;
  padding: 30px;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;

}

.navbar li {
  margin: 20px;
}